<div id="<%= dom_id state_change %>">
  <p>
    <strong>Project:</strong>
    <%= state_change.project_id %>
  </p>

  <p>
    <strong>From state:</strong>
    <%= state_change.from_state %>
  </p>

  <p>
    <strong>To state:</strong>
    <%= state_change.to_state %>
  </p>

  <p>
    <strong>User:</strong>
    <%= state_change.user_id %>
  </p>

</div>
