<p style="color: green"><%= notice %></p>

<%= render @comment %>

<div>
  <%= link_to "Edit this comment", edit_project_comment_path(@comment.project, @comment) %> |
  <%= link_to "Back to comments", project_comments_path(@comment.project) %>

  <%= button_to "Destroy this comment", project_comment_path(@comment.project, @comment), method: :delete %>
</div>
