<div id="<%= dom_id project %>">
  <p>
    <strong>Title:</strong>
    <%= project.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

  <p>
    <strong>State:</strong>
    <%= project.state %>
    <br>
    <select name="project[state]" id="project_state">
      <% Project::STATES.each do |state| %>
        <option value="<%= state %>" <%= 'selected' if project.state == state %>>
          <%= I18n.t("project.states.#{state}") %>
        </option>
      <% end %>
    </select>
  </p>
</div>
